In [1]:
import pandas as pd
import numpy as np

In [2]:
INPUT = '../../experiments/exp13/run1/cat/tables/tcr_barcode.cleaned.csv'

In [3]:
OUTPUT = '../../experiments/exp13/run3/cat/tables/tcr_barcode.cleaned.csv'

# Load

In [4]:
df = pd.read_csv(INPUT)

In [5]:
df[['label','label_mhc']]

      label  label_mhc
0       1.0        1.0
1       1.0        1.0
2       1.0        1.0
3       1.0        1.0
4       1.0        1.0
...     ...        ...
7120    1.0        1.0
7121    1.0        1.0
7122    1.0        1.0
7123    1.0        1.0
7124    1.0        1.0

[7125 rows x 2 columns]

In [6]:
sum((df.label == 1) & df.label_mhc == 1)

6073

In [7]:
sum((df.label == 1))

6073

In [14]:
df[df.label == 1].to_csv(OUTPUT, index=False)

In [15]:
df

,gem,clonotype,num_clonotype,ct,genes_TRA,genes_TRB,genes_lst_TRA,genes_lst_TRB,length_TRA,cdr1_TRA,...,VDJdb_check,seurat,umi_count_hto,feature_hto,hto_max_id,hto_sec_id,hto_margin,hto_classification,hto_global_class,hash_id
0,AAACCTGAGCCCAGCT-1,clonotype1825,1825.0,1825.0,TRAV8-3;TRAJ10;TRAC,TRBV6-5;;TRBJ1-2;TRBC1,['TRAV8-3;TRAJ10;TRAC'],['TRBV2;;TRBJ1-3;TRBC1' 'TRBV6-5;;TRBJ1-2;TRBC1'],684.0,YGATPY,...,NaN,SeuratProject,4695,10,6,3,1.076808,3_6,Doublet,Doublet
1,AAACCTGAGTCAATAG-1,clonotype1136,1136.0,1136.0,TRAV17;TRAJ38;TRAC,TRBV19;;TRBJ2-7;TRBC2,['TRAV17;TRAJ38;TRAC'],['TRBV19;;TRBJ2-7;TRBC2'],518.0,TSINN,...,NaN,SeuratProject,2228,9,10,2,1.774199,10,Singlet,10
2,AAACCTGCAATCCGAT-1,clonotype3,3.0,3.0,TRAV1-1;TRAJ10;TRAC,TRBV5-1;;TRBJ2-5;TRBC2,['TRAV1-1;TRAJ10;TRAC'],['TRBV5-1;;TRBJ2-5;TRBC2'],496.0,TSGFYG,...,NaN,SeuratProject,1780,10,8,4,4.100095,8,Singlet,8
3,AAACCTGCAGCCAGAA-1,clonotype79,79.0,79.0,TRAV21;TRAJ33;TRAC,TRBV10-2;;TRBJ1-1;TRBC1,['TRAV21;TRAJ33;TRAC'],['TRBV10-2;;TRBJ1-1;TRBC1'],472.0,DSAIYN,...,NaN,SeuratProject,4696,7,1,9,4.616521,1,Singlet,1
4,AAACCTGCATGCCACG-1,clonotype15,15.0,15.0,TRAV17;TRAJ12;TRAC,TRBV7-9;;TRBJ2-1;TRBC2,['TRAV17;TRAJ12;TRAC'],['TRBV7-9;;TRBJ2-1;TRBC2'],589.0,TSINN,...,NaN,SeuratProject,2301,10,7,6,4.480806,7,Singlet,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7120,TTTGGTTGTTGAGGTG-1,clonotype5,5.0,5.0,NaN,TRBV28;;TRBJ2-7;TRBC2,NaN,['TRBV28;;TRBJ2-7;TRBC2'],NaN,NaN,...,NaN,SeuratProject,773,9,10,4,0.269063,10_4,Doublet,Doublet
7121,TTTGTCAAGAATGTTG-1,NaN,0.0,3579.0,NaN,TRBV6-1;;TRBJ2-7;TRBC2,NaN,['TRBV6-1;;TRBJ2-7;TRBC2'],NaN,NaN,...,NaN,SeuratProject,1474,10,2,10,0.480322,10_2,Doublet,Doublet
7122,TTTGTCAAGCGTGAAC-1,NaN,0.0,6790.0,NaN,TRBV20-1;;TRBJ2-1;TRBC2,NaN,['TRBV20-1;;TRBJ2-1;TRBC2'],NaN,NaN,...,NaN,SeuratProject,2563,9,9,5,5.045581,9,Singlet,9
7123,TTTGTCATCACCTCGT-1,clonotype233,233.0,233.0,NaN,TRBV19;TRBD1;TRBJ1-5;TRBC1,NaN,['TRBV19;TRBD1;TRBJ1-5;TRBC1'],NaN,NaN,...,NaN,SeuratProject,7120,10,1,6,5.533886,1,Singlet,1
7124,TTTGTCATCACTATTC-1,NaN,0.0,3.0,NaN,TRBV5-1;;TRBJ2-5;TRBC2,NaN,['TRBV5-1;;TRBJ2-5;TRBC2'],NaN,NaN,...,NaN,SeuratProject,92,8,4,6,0.048387,Negative,Negative,Negative